{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Digital File Encryption
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block navbar%} 
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('home') }}">Digital File Encryption</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('inbox') }}">Inbox</a></li>
        <li><a href="{{ url_for('compose') }}">Compose</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src={{ url_for('static', filename='cryptoJS/aes1.js') }}></script>
<!-- <script type="text/javascript" src={{ url_for('static', filename='cryptico/aes.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/api.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/cryptico.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/cryptico.min.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/hash.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/jsbn.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/random.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/rsa.js') }}></script> -->

<script type="text/javascript" src={{ url_for('static', filename='hybrid-crypto-js/hybrid-crypto.min.js') }}></script>

<script type="text/javascript" src={{ url_for('static', filename='hybrid-crypto-js/rsaEncryption.js') }}></script>


<script>
  
  function encrypt(){
  var message=document.getElementById("messageTextBox").value;
    var encryptionKey=document.getElementById("encryptionKey").value;
    var enc=CryptoJS.AES.encrypt(message, encryptionKey);
    document.getElementById("encryptedText").value=enc; 
      }</script>

<script>
  function check(cb){
    if(!cb.checked){
    /* choose a file or activate the button to choose a file */
    document.getElementById("chooseFile").disabled=false;
      }
    else{
      document.getElementById("chooseFile").disabled=true;
      }
    }</script>

<!--
<script>
  function createKeys(){
    var passPhrase=document.getElementById("passPhrase").value;
    var bits=1024;
    var RSAKey=cryptico.generateRSAKey(passPhrase, bits);
    var PublicKey=cryptico.publicKeyString(RSAKey);
    //str=JSON.stringify(tatPublicKey, null, 4);
    document.getElementById("publicKey").innerHTML=PublicKey;
    }
  </script> -->

{% endblock %}