{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Digital File Encryption
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block navbar%} 
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('home') }}">Digital File Encryption</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('inbox') }}">Inbox</a></li>
        <li><a href="{{ url_for('checkEmail') }}">Compose</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}

{{ super() }}
{{ moment.include_moment() }}
<script type="text/javascript" src={{ url_for('static', filename='cryptoJS/aes1.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptoJS/sha3.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/aes.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/api.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/cryptico.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/cryptico.min.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/hash.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/jsbn.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/random.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='cryptico/rsa.js') }}></script>
<!-- <script type="text/javascript" src={{ url_for('static', filename='hybrid-crypto-js/hybrid-crypto.min.js') }}></script>
  <script type="text/javascript" src={{ url_for('static', filename='hybrid-crypto-js/rsaEncryption.js') }}></script> -->

  <script> 
    function encryptAES(){
      var message1=document.getElementById("messageTextBox").value;
      message=window.btoa(message1);
      var encryptionKey=document.getElementById("encryptionKeyTextBox").value;
      var enc=CryptoJS.AES.encrypt(message, encryptionKey);
      document.getElementById("encryptedText").value=enc;
      document.getElementById("aesEncryptedText").innerHTML=enc;

    }</script>

    <script type="text/javascript">
      function encryptFile(){
        var file=document.getElementById("sendingFile").files[0];
        //document.getElementById("hiddenFileName").innerHTML=file.name;
        var reader=new FileReader();
        var encryptionKey=document.getElementById("encryptionKeyTextBox").value;
        reader.onload=function(e){
        var encryptedFile=CryptoJS.AES.encrypt(window.btoa(e.target.result), encryptionKey);
        var downloadLink=document.createElement("a");
        downloadLink.href=window.URL.createObjectURL(new Blob([encryptedFile], {type:'data:application/octect-stream'}));
        downloadLink.download=file.name+'.e2eEnc';
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      };
      reader.readAsBinaryString(file);
      }
    </script>

    <script type="text/javascript">
      function decryptFile(){
        var cipherText=document.getElementById("hideRSAKey").value;
      var userRSAKey=cryptico.generateRSAKey(localStorage.userPassphrase, 1024);
      var plainText=cryptico.decrypt(cipherText, userRSAKey);
        var reader=new FileReader();
        var file=document.getElementById("decryptFile").files[0];

        reader.onload=function(e){
          var decrypted=CryptoJS.AES.decrypt(window.atob(e.target.result), plainText.plaintext).toString(CryptoJS.enc.Latin1);

          var downloadLink=document.createElement("a");
          downloadLink.href=window.URL.createObjectURL(new Blob([decrypted]));
          downloadLink.download=file.name.replace('.e2eEnc', '');

          document.body.appendChild(downloadLink);
          downloadLink.click();
          document.body.removeChild(downloadLink);
        };
        reader.readAsBinaryString(file);
      }
    </script>
    <script>
      function check(cb){
        if(!cb.checked){
          /* choose a file or activate the button to choose a file */
          document.getElementById("sendingFile").disabled=false;
        }
        else{
          document.getElementById("sendingFile").disabled=true;
        }
      }</script>
      <script>
        function generateUserKeys(){
          var passPhrase=document.getElementById("passphrase").value;
          //allow user to set the required bits.
          var bits=1024;
          localStorage.userPassphrase=passPhrase;
          //alert(localStorage.userPassphrase);
          var RSAKey=cryptico.generateRSAKey(localStorage.userPassphrase, bits);
          var PublicKey=cryptico.publicKeyString(RSAKey);
          var signingKey=cryptico.publicKeyID(PublicKey);
          //alert(signingKey);
          //getting paragrapg elements in sync to assist the user
          document.getElementById("publicKeyParagraph").innerHTML=PublicKey;
          //document.getElementById("signingKey").innerHTML=signingKey;
          //hide these tags letter to pass them to the backend
          document.getElementById("publicKey").value=PublicKey;
          
  }
</script>
<script>
  function RSAEncryption(){
    var aesPlaintext=document.getElementById("encryptionKeyTextBox").value;
        //users passphrase for signing
    var passphrase=localStorage.userPassphrase;
    var bits=1024;
    userRSAKey=cryptico.generateRSAKey(passphrase, bits);
    //public key is for signing
    userPublicKey=cryptico.publicKeyString(userRSAKey);
    //recPublicKey for encrypting
    var recPublicKey=document.getElementById("recPublicKey").value;
    if (document.getElementById("signCheck").checked){
      var encryptedData=cryptico.encrypt(aesPlaintext, recPublicKey, userRSAKey);
    }
    else{
      var encryptedData=cryptico.encrypt(aesPlaintext, recPublicKey);
    }

    //messageHash sha3
    //var messageHash=CryptoJS.SHA3(aesPlaintext);
    //encrypting Hash
    //alert(encryptedHash.cipher);
    document.getElementById("sendData").value=encryptedData.cipher;  
  document.getElementById("rsaEncrypted").innerHTML=encryptedData.cipher;}</script>

  <script>
    function decryptRSAKey(){
      var cipherText=document.getElementById("hideRSAKey").value;
      var userRSAKey=cryptico.generateRSAKey(localStorage.userPassphrase, 1024);
      var plainText=cryptico.decrypt(cipherText, userRSAKey);
      //check if message has been signed
      if (plainText.signature=='verified'){
        document.getElementById("Signcheckbox").checked=true;
      }
      else{
        document.getElementById("Signcheckbox").checked.false;
      }

      document.getElementById("decryptedRSAKey").innerHTML=plainText.plaintext;
      var aesEnc=document.getElementById("hideMessage").value;

      var bytes=CryptoJS.AES.decrypt(aesEnc, plainText.plaintext);

      var message1=bytes.toString(CryptoJS.enc.Utf8);
      message=window.atob(message1)
      document.getElementById("decryptedMessage").innerHTML=message;
    }
  </script>

{% endblock %}

