{% extends "base.html" %}

{% block title %}
Check Validity of Emails
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<h2>Enter the recipients address</h2>
		<p class="text-muted">Inoder to successfully send a message in an unencrypted network. You need the public key of the recipient.Enter the users email address below and we will collect their public key.</p>

		<form action="{{ url_for('checkEmail') }}" method="POST" enctype="multipart/form-data">
			<h2>Recipient's Email</h2>
			<input type="text" class="form-control" name="recipientEmail">
			<input type="submit" class="btn" style="margin-top: 15px;" name="Check Email" value="Check Public Address">
		</form>
		<h2 class="sub-header">Results</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>email</th>
                  <th>public key</th>
                  <th>organisation</th>
                  <!--<th>Header</th>-->
                </tr>
              </thead>
              <tbody>
                {% for key in allKeys: %}
                <tr>
                  <td>{{ key.email }}</td>
                  <td>{{ key.publicKey[:50] + "..." }}</td>
                  <td></td>
                  <td></td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

	</div>
</div>
{% endblock content%}