{% extends "base.html" %}

{% block title %}
Compose
{% endblock %}

{% block content %}
<div class="container">
	<form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
		{{ form.hidden_tag() }}
		{{ wtf.form_field(form.receiver) }}
		{{ wtf.form_field(form.message) }}
    	{{ wtf.form_field(form.file) }}
		<!--Send To:<input type="text" name="receiver">
		Message:<input type="text" name="message">
		<input type="file" name="file"> -->
		<input type="submit">
	</form>
</div>
{% endblock content%}