{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><h2>Contacts<span class="sr-only">(current)</span></h2></li>
        <hr>
        <ul>        
          {% for user in contactList %}
          <li>{{ user }}</li>
          {% endfor %}
        </ul>

      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome {{ name }}</h1>

      <div class="container">
        <div class="starter-template">
          <div class="col-lg-8">
            <h1>E2E encryption</h1>
            <span style="font-size: 32px;">Your privacy is our concern!</span><hr>
            <p class="lead ">We provide end-to-end encryption for your business or organisation.<br>Our work flow:
              <ol class="lead" type="1"> <li>Create private and public keys. Go to profile tab to create a random (RSA) private and public key. Your private key will not be shown to you because an attacker can take a screenshot of your private key. Its important ot keep your private key private.</li><li>Send a message. Add in an AES phrase that will be used to encrypt your message.</li><li>Encrypt the AES key with the recipient's public key.</li><li>Send your message.</li>
              </ol>
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
{% endblock %}