{% extends "base.html" %}

{% block title %}
Digital File Encryption
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<h2>Settings</h2>
		<form method="POST" action="/profile">
			<div>
				{{ form.hidden_tag() }}
				Current Phone Number: {{ current_user.phoneNumber }}
				{{ wtf.form_field(form.phoneNumber) }}
			</div>
				
			<div>
				<h3>Generate Public and Private Keys</h3>
				<p>Current public key: {{current_user.publicKey }} </p>
								
				<!-- <input class="btn btn-primary" type="button" name="generatingKeys" value="Generate Keys" onclick="generateKeys()"> -->
				Enter a passphrase to generate a your keys.
				<input type="text" name="passphrase" id="phrase" >

				<input type="button" name="generateUserKey" id="generateKeys" class="btn btn-primary" onclick="generateUserKeys()" value="Generate keys">

				<div>
					Public Key: 
					<p id="publicKey"></p><br>
					Signing Key:
					<p id="signingKey"></p>

				Public Key: <input type="text" name="hidePublicKey" id="hiddenPublicKey"><br>
				Signing Key:<input type="text" name="hideSigningKey" id="signature">

				<button class="btn btn-lg btn-primary btn-block" type="submit">Update to server</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}