{% extends "base.html" %}

{% block title %}
Message
{% endblock %}

{% block content %}
<div class="container">
	<div>
		<span>FROM:{{ message.sender }}</span><br>
	</div>
	<hr>
	<div>
		<span>ENCRYPTED MESSAGE:{{ message.message }}</span><br>
	</div>
	<hr>
	<div>		
		<span>
			RSA Key:<textarea type="text" name="hiddenRSAKey" id="hideRSAKey" value="{{ message.rsaEncryptedKey }}" cols="150" rows="5"></textarea>
		</span><br>

		<span>
			Encrypted Message:<textarea type="text" name="hiddenMessage" id="hideMessage" value="{{ message.message}}" cols="150" rows="5" ></textarea>
		</span><br>

		<span>
			<input type="button" name="decrypt" id="clickToDecrypt" value="Click to decrypt" onclick="decryptRSAKey()">
		</span><br><hr>

		<span>
			<textarea AES KEY:<input type="text" name="rsaKey" id="decryptedRSAKey" cols="150" rows"5"></textarea>
		</span><br><hr>

		Message:<textarea type="text" name="message" id="decryptedMessage" cols="150" rows="5"></textarea>
	</div>	

	<div>
		<a href="/download/{{ message.id }}">Download</a>
		{{ message.timestamp }}
	</div>
</div>
{% endblock %}